.openpilot-badge {
  color: #fff;
  width: auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  font-family: monospace;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;  
  display: inline-block;
  min-width: 10px;
}

.openpilot-badge .tooltiptext {
  visibility: hidden;
  width: auto;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  border-radius: 0;
  padding: 10px;
  font-family: monospace; 
  min-width: 195px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin: 5px 0 0 -10px;
}
  
.openpilot-badge:hover .tooltiptext {
  visibility: visible;
}